{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh
sudo snap install chezmoi --classic
sudo apt install -y zsh
sudo apt install -y neovim
sudo apt install -y ripgrep
sudo apt install -y fd
sudo apt install -y fzf

#sudo apt install -y cmatrix
#sudo apt install -y neofetch
#sudo apt install -y bat
#sudo apt install -y tldr
#sudo apt install -y tree
#sudo apt install -y gdu
#sudo apt install -y btop

sudo apt install gcc

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/sh
brew install ripgrep

{{ end -}}
