{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh
sudo snap install chezmoi --classic
sudo snap install nvim --classic
sudo apt install -y zsh
sudo apt install -y ripgrep
sudo apt install -y fd-find
sudo apt install -y eza
sudo apt install -y bat
sudo apt install -y zoxide

# more recent version needed
# sudo apt install -y fzf
wget -c https://github.com/junegunn/fzf/releases/download/0.53.0/fzf-0.53.0-linux_amd64.tar.gz -O - | tar -xz -C ~/bin

#no lazygit in apt
if [ ! -f /usr/local/bin/lazygit ]; then
  LAZYGIT_VERSION=$(curl -s "https://api.github.com/repos/jesseduffield/lazygit/releases/latest" | grep -Po '"tag_name": "v\K[^"]*')
  curl -Lo lazygit.tar.gz "https://github.com/jesseduffield/lazygit/releases/latest/download/lazygit_${LAZYGIT_VERSION}_Linux_x86_64.tar.gz"
  tar xf lazygit.tar.gz lazygit
  sudo install lazygit /usr/local/bin
fi

sudo apt install -y git-delta

sudo apt install -y cmatrix
sudo apt install -y neofetch
sudo apt install -y tldr
sudo apt install -y tree
sudo apt install -y gdu
sudo apt install -y btop

sudo apt install -y gcc

{{ else if eq .chezmoi.os "darwin" -}}

#!/bin/sh
brew install ripgrep

{{ end -}}
